# ========== API SERVICE URLS ==========
AUTH_SERVICE_URL=http://auth-service:8000
USER_SERVICE_URL=http://user-service:8000
FLIGHTS_SERVICE_URL=http://flights-service:8000
FERRIES_SERVICE_URL=http://ferries-service:8000
HOTELS_SERVICE_URL=http://hotels-service:8000
PPOB_SERVICE_URL=http://ppob-service:8000
PAYMENT_SERVICE_URL=http://payment-service:8000

# ========== DATABASE ==========
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=tiketq_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# --- Auth Service DB Config ---
AUTH_DB_URL=postgresql://postgres:postgres@postgres:5432/tiketq_db


# ========== AUTH SERVICE ==========
JWT_SECRET=your_jwt_secret_here
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# ========== PAYMENT SERVICE ==========
MIDTRANS_SERVER_KEY=your_midtrans_server_key_here
MIDTRANS_CLIENT_KEY=your_midtrans_client_key_here

# ========== ENVIRONMENT ==========
ENV=development
DEBUG=true
