# ========== FERRIES SERVICE ENV ==========
PORT=5001
ENV=development
DEBUG=true

# ========== DATABASE ==========
FERRIES_DB_URL=postgresql://postgres:your_paspostgres@postgres:5432/tiketq_db

# ========== EXTERNAL API PLACEHOLDER ==========
EXTERNAL_FERRIES_API_KEY=your_ferries_api_key_here