# ========== FERRIES SERVICE ENV ==========
PORT=8000
ENV=development
DEBUG=true

# ========== DATABASE ==========
FERRIES_DB_URL=postgresql://postgres:postgres@postgres:5432/tiketq_db

# ========== EXTERNAL API PLACEHOLDER ==========
EXTERNAL_FERRIES_API_KEY=your_ferries_api_key_here

SINDO_BASE_URL=your_base_url_here
SINDO_CORE_URL=your_core_url_here
SINDO_AGENT_CODE=your_agent_code
SINDO_USERNAME=your_username
SINDO_PASSWORD=your_password
