# ========== FLIGHTS SERVICE ENV ==========
PORT=5001
ENV=development
DEBUG=true

# ========== DATABASE ==========
FLIGHTS_DB_URL=postgresql://postgres:postgres@postgres:5432/tiketq_db

# ========== EXTERNAL API PLACEHOLDER ==========
EXTERNAL_FLIGHT_API_KEY=your_flight_api_key_here

# ========== PROVIDER (MMBC) ==========
MMBC_BASE_URL=https://sandbox.mmbc.example/api
MMBC_USER_ID=Paris
MMBC_PASSWORD=K9BfWj66aeUE
MMBC_AGENT_CODE=JKT-146751
MMBC_TIMEOUT_SECONDS=15
MOCK_REMOTE=true


