# ========== FLIGHTS SERVICE ENV ==========
PORT=5001
ENV=development
DEBUG=true

# ========== DATABASE ==========
FLIGHTS_DB_URL=postgresql://postgres:postgres@postgres:5432/tiketq_db

# ========== EXTERNAL API PLACEHOLDER ==========
EXTERNAL_FLIGHT_API_KEY=your_flight_api_key_here
